#bmenu_ellipse{
  width: 15px;
  padding-right: 15px;
}

.bmenu{
  position: absolute;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  text-align: left;
}

.bmenu li {
  display: block;
  padding: 6px;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #f2f2f2;
}

.bmenu a{
  display: block;
}

.bmenu a, .bmenu a:hover {
  color: #777;
}

.bmenu a:hover{
  color: #272727;
}

.menuIcon{
  font-size: 1.3em;
  color: #555555;
}