.mobSeriesBanner{
    width: 100%;

}

.seriesBanner {
    font-family: 'Arbutus Slab', sans-serif;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}

.seriesBannerTitle{
    text-align: center;
    flex-basis: 50%;
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: 50%;
}

.seriesContent{
    padding-left: 30px;
    padding-right: 5px;
    text-align: left;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.seriesContent h3 {
    color: #363636;
}

.seriesRelated{
    padding-top: 15px;
}

.seriesSermonList{
    border-top: 1px solid #f2f2f2;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 30px;
}

.seriesSermonListRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto';
}

.seriesSermonListRow i:hover{
    cursor: pointer;
}

.seriesSermonListRow img{
    width: 60px;
}

.sermonRowTitle{
    flex: 1;
    padding-left: 15px;
    font-size: 14px;
}

.material-icons.md-36 { font-size: 36px; }